openapi: 3.0.3
info:
  version: '1.0'
  title: Company authorization sie-files API
  description: The Bokio Company API containing all resources for company tenant.
  termsOfService: https://docs.bokio.se/page/terms/
  contact:
    name: Bokio
    url: https://docs.bokio.se
    email: support@bokio.se
servers:
- url: https://api.bokio.se/v1
  description: Bokio API
  x-bokio-api: true
security:
- tokenAuth: []
tags:
- name: sie-files
  description: Operations for managing SIE files
paths:
  /companies/{companyId}/sie/{fiscalYearId}/download:
    parameters:
    - name: companyId
      in: path
      required: true
      description: The unique identifier for the company
      schema:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000
    - name: fiscalYearId
      in: path
      required: true
      description: The unique identifier for the fiscal year
      schema:
        type: string
        format: uuid
        example: 835ba700-b306-4bd9-8447-59207b6b0002
    get:
      tags:
      - sie-files
      summary: Download SIE file for a fiscal year
      description: 'This endpoint downloads the SIE file for the provided fiscal year.

        The SIE file is used for accounting purposes in Sweden.


        **Scope:** `sie:read`

        '
      operationId: download-sie-file
      responses:
        '200':
          description: Successful response with a SIE file stream
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Fiscal year not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              examples:
                FiscalYearNotFound:
                  value:
                    code: not-found
                    message: The requested resource with value 240a4af0-edfd-47b1-b4ab-f30450eaac19 was not found
                    bokioErrorId: 8d408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
      - tokenAuth: []
components:
  schemas:
    apiError:
      type: object
      title: apiError
      properties:
        code:
          type: string
        message:
          type: string
        bokioErrorId:
          type: string
          format: uuid
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
    access_token:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /token
          scopes: {}
        authorizationCode:
          authorizationUrl: /authorize
          tokenUrl: /token
          scopes:
            bank-payments:read-limited: Read access to bank payments created by the integration
            bank-payments:write: Write access to bank payments
            chart-of-accounts:read: Read access to chart of accounts
            company-information:read: Read access to company information
            credit-notes:read: Read access to credit notes
            credit-notes:write: Write access to credit notes
            customers:read: Read access to customers
            customers:write: Write access to customers
            fiscal-years:read: Read access to fiscal years
            invoices:read: Read access to invoices
            invoices:write: Write access to invoices
            items:read: Read access to items
            items:write: Write access to items
            journal-entries:read: Read access to journal entries
            journal-entries:write: Write access to journal entries
            sie:read: Read access to SIE files
            supplier-invoices:read: Read access to supplier invoices
            supplier-invoices:write: Write access to supplier invoices
            suppliers:read: Read access to suppliers
            suppliers:write: Write access to suppliers
            tags:read: Read access to tag groups and tags
            tags:write: Write access to tag groups and tags
            uploads:read: Read access to uploads
            uploads:write: Write access to uploads
    client_auth:
      type: http
      scheme: basic
externalDocs:
  url: https://docs.bokio.se
  description: Read the API Documentation
x-readme:
  explorer-enabled: true
  proxy-enabled: false
  samples-languages:
  - shell
  - http
  - node
  - csharp
  - java
