openapi: 3.2.0
info:
  version: '1.0'
  title: General Connections API
  description: Bokio General API
  termsOfService: https://docs.bokio.se/page/terms/
  contact:
    name: Bokio
    url: https://docs.bokio.se
    email: support@bokio.se
servers:
- url: https://api.bokio.se/v1
  description: Bokio API
  x-bokio-api: true
tags:
- name: Connections
  description: Connections operations
paths:
  /connections:
    get:
      tags:
      - Connections
      summary: Get connections
      description: Retrieve a list of connections for the authenticated client. Use the tenantId query parameter to filter connections for a specific tenant.
      operationId: get-connections
      parameters:
      - name: page
        description: Page number (starting from 1)
        in: query
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          default: 1
      - name: pageSize
        description: Number of items per page (max 100)
        in: query
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 20
      - name: tenantId
        description: Filter connections by tenant ID. When provided, returns only the connection for the specified tenant.
        in: query
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Connections found
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/pagedResponse'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/connection'
      security:
      - tokenAuth: []
      - access_token: []
  /connections/{connectionId}:
    get:
      tags:
      - Connections
      summary: Get connection by ID
      description: Retrieve a specific connection by its ID
      operationId: get-connection-by-id
      parameters:
      - name: connectionId
        description: The unique identifier of the connection
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Connection found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connection'
        '404':
          description: Connection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
      - tokenAuth: []
      - access_token: []
    delete:
      tags:
      - Connections
      summary: Delete connection by ID
      description: Delete a specific connection and its associated data. Associated data refers to tokens and company permissions that were allowed. However, it will not delete any data created through the integration.
      operationId: delete-connection-by-id
      parameters:
      - name: connectionId
        description: The unique identifier of the connection
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Connection deleted successfully
        '403':
          description: Forbidden - not allowed to delete this connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '404':
          description: Connection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
      - tokenAuth: []
      - access_token: []
components:
  schemas:
    pagedResponse:
      type: object
      title: pagedResponse
      properties:
        totalItems:
          type: integer
          format: int32
          example: 1
        totalPages:
          type: integer
          format: int32
          example: 1
        currentPage:
          type: integer
          format: int32
          example: 1
    apiError:
      type: object
      title: apiError
      properties:
        code:
          type: string
        message:
          type: string
        bokioErrorId:
          type: string
          format: uuid
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    connection:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
        tenantName:
          type: string
          description: The name of the tenant (company)
        type:
          type: string
          enum:
          - company
          description: The type of connection (e.g., company)
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
    access_token:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /token
          scopes: {}
        authorizationCode:
          authorizationUrl: /authorize
          tokenUrl: /token
          scopes: {}
    client_auth:
      type: http
      scheme: basic
externalDocs:
  url: https://docs.bokio.se
  description: Read the API Documentation
x-readme:
  explorer-enabled: true
  proxy-enabled: true
